<html data-theme="light">
  <head>
    <meta charset="utf-8" />
    <title>Reddit</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/fd02cabae2.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script rel="script" src="/js/posts.js"></script>
  </head>
  <body class="bg-white h-screen">
    <div class="navbar bg-white drop-shadow-md">
      <div class="flex-1">
        <p class="normal-case font-bold text-red-500 text-xl"><a
            href="/"
          >Reddit</a></p>
      </div>

      {{#if currentUser}}
        <div class="flex-none">
          <a
            class="btn hover:bg-white hover:text-primary text-gray-400 bg-white border-none"
            href="/posts/new"
          >New Post</a>
        </div>
        <div class="flex-2">
          <a
            class="btn hover:bg-white hover:text-primary text-gray-400 bg-white border-none"
            href="/logout"
          >Logout</a>
        </div>
      {{else}}
        <div class="flex-2">
          <a
            class="btn hover:bg-white hover:text-primary text-gray-400 bg-white border-none"
            href="/signup"
          >Signup</a>
          <a
            class="btn hover:bg-white hover:text-primary text-gray-400 bg-white border-none"
            href="/signin"
          >Signin</a>
        </div>
      {{/if}}
    </div>

    <div class="">
      {{{body}}}
    </div>

  </body>
</html>