<html data-theme="light">
  <head>
    <meta charset="utf-8" />
    <title>Reddit</title>
    <link href="/css/styles.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/fd02cabae2.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="bg-white h-screen">
    <div class="navbar bg-white drop-shadow-md">
      <div class="flex-none">
        <p class="normal-case font-bold text-red-500 text-xl"><a
            href="/"
          >Reddit</a></p>
      </div>
      <div class="flex-1">
        <a
          class="btn hover:bg-white hover:text-primary text-gray-400 bg-white border-none"
          href="/posts/new"
        >New Post</a>
      </div>
      <div class="flex-2">
        <a
          class="btn hover:bg-white hover:text-primary text-gray-400 bg-white border-none"
          href="/signup"
        >Signup</a>
        <a
          class="btn hover:bg-white hover:text-primary text-gray-400 bg-white border-none"
          href="/signin"
        >Signin</a>
      </div>
    </div>

    <div class="">
      {{{body}}}
    </div>

  </body>
</html>