<div class="py-32 px-10 flex flex-col">
  <a
    href="/"
    class="text-primary hover:cursor-pointer w-4 font-semibold hover:text-red-600"
  >back</a>
  <a
    href="{{post.url}}"
    class="hover:cursor-pointer w-auto hover:text-primary font-bold text-5xl my-4"
  >{{post.title}}</a>
  <p class="my-10">{{post.summary}}</p>
</div>