<div class="flex h-screen">
  <form
    action="/signin"
    method="post"
    class="m-auto drop-shadow-lg bg-white p-10 w-96"
  >
    <div>
      <legend class="font-bold text-primary">Signin</legend>
      <div class="form-control w-full max-w-xs">
        <div class="mt-2">
          <label class="label">
            <span class="label-text text-gray-700 font-medium">Username</span>
          </label>
          <input
            name="username"
            type="text"
            placeholder="Enter your username"
            class="input input-bordered w-full max-w-xs"
          />
        </div>
        <div class="mt-2">
          <label class="label">
            <span class="label-text text-gray-700 font-medium">Password</span>
          </label>
          <input
            name="password"
            type="password"
            placeholder="Enter your password"
            class="input input-bordered w-full max-w-xs"
          />
        </div>
        <a class="font-semibold my-2" href="/signup">New
          <span class="text-primary">user?</span></a>
        <button
          class="w-36 self-end btn bg-primary border-primary hover:bg-red-600 hover:border-red-600 mt-4"
        >Signin</button>
      </div>
    </div>
  </form>
</div>